/*  your css code here. If applicable */
.root{
	background-color: rgb(135, 206, 235);
}
.first-child{
	color: white;
	background-color: black;
}
.last-child{
	color: red;
}
ul li {
    width: 50%;
    padding: 10px;
    background-color: gray;
}

/* Odd items get a white background */
ul li:nth-child(odd) {
    background-color: white;
}

/* First and last items font size */
ul li:first-child,
ul li:last-child {
    font-size: 22px;
}

/* Third-to-last item -> nth-last-child(3) */
ul li:nth-last-child(3) {
    background-color: pink;
}