/*  your css code here. If applicable */
.root{
	background-color: rgb(135, 206, 235);
}
.first-child{
	color: white;
	background-color: black;
}
.last-child{
	color: red;
}
.ulist{
	background-color: gray;
}
.li{
	width: 50%;
	padding: 10px;
}
.font{
	font-size: 22px;
}